﻿@model CartViewModel

<form asp-controller="Cart" asp-action="Edit" method="post">
    @{var items = Model.Items.ToList();
    @for (int i = 0; i < items.Count; i++)
    {
        var item = items[i];
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                    <h5 class="mb-1">@item.ProductName</h5>
                </a>
                <small>$@item.UnitPrice</small>
                <input type="hidden" name=@($"items[{i}].Key") value="@item.ProductId" />
                <input asp-for="@item.Quantity" name=@($"items[{i}].Value") />
                <small>$@item.Total</small>
                <a class="btn btn-secondary" asp-controller="Cart" asp-action="Delete" asp-route-id="@item.ProductId">Remove</a>
            </div>
        </div>
    }}
    <button class="btn btn-secondary" type="submit">Update</button>
    <h5>Total: $@Model.Total</h5>
    <a class="btn btn-primary" asp-controller="Order" asp-action="Index">Checkout</a>
</form>