﻿@model ProductViewModel

<h3>@Model.Name</h3>
<p>$@Model.Price</p>
@if (!string.IsNullOrEmpty(Model.Url))
{
    <img src="@Model.Url" />
}
<p>@Model.Description</p>
<a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id">Add to cart</a>