﻿
@model IEnumerable<ProductViewModel>

<vc:categories></vc:categories>
<div class="list-group">
    @{ foreach (var item in Model)
        {
            <a class="list-group-item list-group-item-action flex-column align-items-start" asp-action="Details" asp-route-id="@item.Id">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@item.Name</h5>
                    <small>$@item.Price</small>
                </div>
                <p class="mb-1">@item.Description</p>
            </a>
        }}
</div>