﻿@model ProductCategoryViewModel

<form asp-controller="Products" asp-action="Index" method="get">
    <div class="form-group">
        <select class="form-control" asp-for="@Model.Category" asp-items="@Model.Categories">
            <option value="0">Select Category</option>
        </select>
        </div>
        <button type="submit" class="btn btn-secondary">Filter</button>
</form>
