﻿@model OrderViewModel
<form asp-controller="Order" asp-action="Submit" method="post">
    <div class="form-group">
        <input class="form-control" placeholder="First name" asp-for="@Model.Customer.FirstName">
        <span asp-validation-for="@Model.Customer.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Last name" asp-for="@Model.Customer.LastName">
        <span asp-validation-for="@Model.Customer.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="E-Mail" asp-for="@Model.Customer.Email">
        <span asp-validation-for="@Model.Customer.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Phone" asp-for="@Model.Customer.Phone">
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Street" asp-for="@Model.Customer.Address.Street">
        <span asp-validation-for="@Model.Customer.Address.Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="City" asp-for="@Model.Customer.Address.City">
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Postal Code" asp-for="@Model.Customer.Address.PostalCode">
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Country" asp-for="@Model.Customer.Address.Country">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    }