﻿@model OrderViewModel

<h5>Thank you for submitting your order.</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>$@item.UnitPrice</td>
                <td>@item.Quantity</td>
            </tr>
        }
        <tr>
            <td></td>
            <td style="font-weight:bold">Total</td>
            <td style="font-weight:bold">$@Model.Total</td>
        </tr>
    </tbody>
</table>
