﻿<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-auto mr-auto">
            <a class="navbar-brand" href="/">Store</a>
        </div>
        <div class="col-auto">
            <vc:cart></vc:cart>
        </div>
    </div>
</div>
